.profile-container{
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 0px 45px;
    z-index: 10;
}

.item1{
    padding-top: 35px;
    padding-right: 35px;
    height: max-content;
    display: flex;
    flex-direction: column;
}


.user-img{
    width: 165px;
    height: 165px;
    border-radius: 50%;
    display: block;
    margin: 0px auto;
}

.username{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 22px;
    font-weight: bold;
    color: #504e4e;
    margin-top: 5px;
    text-align: center;
}

.user-details{
    display: grid;
    place-content: center;
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 10px;
    font-size: 20px;
    margin-top: 10px;
}

.col1{
    text-align: right;
    color: #969494;
    font-weight: 500;
}

.col2{
    text-align: left;
    font-weight: bold;
    color: #504e4e;
}

.h-line{
    width: 70%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    border: 0 none;
    margin-top: 15px;
}

.title-text{
    color: #969494;
    font-weight: 500;
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 10px;
    text-align: center;
} 

.company-details{
    display: grid;
    place-content: center;
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 10px;
    font-size: 20px;
    margin-top: 10px;
}

.item2{
    padding-top: 35px;
    padding-right: 35px;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.v-line{
    border-left: 1px solid lightgrey;
    height: 580px;
}

.address-content{
    position: absolute;
    margin-left: 45px;
}

.address{
    color: #969494;
    font-weight: 500;
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.address-details{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 10px;
    font-size: 20px;
    margin-top: 10px;
   justify-content: left;
   margin-left: 20px;
}

.map{
    position: absolute;
    margin-left: 45px;
    margin-top: 200px;
    margin-right: 45px;
}

iframe{
    border-radius: 20px;
    border: none;
}

.co-ordinates{
    display: flex;
    justify-content: flex-end;
    margin-top: -90px;
    margin-right: -35px;
}

.geo-text{
    font-size: 12px;
    color: #acaaaa;
    margin-left: 15px;
}

.geo-co{
    font-size: 14px;
    margin-left: 2px;
    font-weight: 500;
    color: #363636;
}